# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
.env.*
*.env

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite
*.db

# Local data directories
data/

# Last run file
last_email_run.txt

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db 